<div class="text-center p-4 container">
    © 2021 Copyright: William TEYSSONNEYRE
    &nbsp;
    <!-- Show only if connected to FB -->
    <div class="fb-like" data-href="https://www.facebook.com/TotalEnergiesFrance/" data-width="250px" data-layout="box_count" data-action="like" data-size="large" data-share="true"></div>   
    <a href="https://www.facebook.com/TotalEnergiesFrance/" class="fa fa-facebook"></a>
    <a href="https://twitter.com/totalenergiesfr?lang=en" class="fa fa-twitter"></a>
    <a href="https://www.linkedin.com/company/totalenergies/?originalSubdomain=fr" class="fa fa-linkedin"></a>
</div>